<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="thumbnail profile">
                <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Profile-PNG-Icon-715x715.png" alt="">
                <div class="caption">
                    <h3><%= user.Name %> </h3>
                    <a href="mailto:<%= user.EmailId %> ">User Email</a>
                </div>
            </div>
            <div>
                <form style="text-align: left;">
                    <div class="form-group">
                        <label for="">User Name </label>
                        <input class="form-control form-focus" type="text" name="username"
                            value="<%= user.username %> " disabled>
                    </div>
                    <div class="form-group">
                        <label for="">Name </label>
                        <input class="form-control form-focus" type="text" name="lastName" value="<%= user.Name %> "
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="">Email </label>
                        <input class="form-control form-focus" type="email" name="email" value="<%= user.EmailId %> "
                            disabled>
                    </div>
                </form>
            </div>
            <% if(currentUser && user.id === currentUser.id){ %>
            <a class="btn btn-primary" href="/users/<%= user.id %>/edit">Edit</a>
            <%} %>
        </div>
    
    </div>

</div>

<%- include('../partials/footer') %>